<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.questionanswer.QAMapper">

    <resultMap type="com.backstage.system.domain.questionanswer.Question" id="QuestionResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="resourceType" column="resource_type"/>
        <result property="resourceNo" column="resource_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="isPaidOnly" column="is_paid_only"/>
        <result property="status" column="status"/>
        <result property="solvedAnswerId" column="solved_answer_id"/>
        <result property="viewCount" column="view_count"/>
        <result property="followCount" column="follow_count"/>
        <result property="createdTime" column="created_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <resultMap type="com.backstage.system.domain.questionanswer.Tag" id="TagResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="useCount" column="use_count"/>
        <result property="createdTime" column="created_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <resultMap type="com.backstage.system.domain.questionanswer.Answer" id="AnswerResult">
        <id property="id" column="id"/>
        <result property="questionId" column="question_id"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="voteCount" column="vote_count"/>
        <result property="isSolution" column="is_solution"/>
        <result property="isFlagged" column="is_flagged"/>
        <result property="status" column="status"/>
        <result property="createdTime" column="created_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <resultMap type="com.backstage.system.domain.questionanswer.ViolationRecord" id="ViolationRecordResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="answerId" column="answer_id"/>
        <result property="questionId" column="question_id"/>
        <result property="violationType" column="violation_type"/>
        <result property="reason" column="reason"/>
        <result property="operatorId" column="operator_id"/>
        <result property="status" column="status"/>
        <result property="createdTime" column="created_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <resultMap type="com.backstage.system.domain.questionanswer.UserViolationStat" id="UserViolationStatResult">
        <id property="userId" column="user_id"/>
        <result property="violationCount" column="violation_count"/>
        <result property="isGraylisted" column="is_graylisted"/>
        <result property="isBanned" column="is_banned"/>
        <result property="reason" column="reason"/>
        <result property="createdTime" column="created_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <insert id="addQuestionAnswer">
        insert into osh_question_answer_question (user_id, resource_type, resource_no, title, content, is_paid_only)
        values (#{userId}, #{resourceType}, #{resourceNo}, #{title}, #{content}, #{isPaidOnly})
    </insert>
    <insert id="addQuestionTags">
        insert into osh_question_answer_question_tag (question_id, tag_id)
        values (#{questionId}, #{tagId})
    </insert>

</mapper>
