<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.BookMapper">

    <resultMap type="com.backstage.system.domain.vo.BookListVO" id="BookListResult">
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="cover" column="cover" />
        <result property="desc" column="description" />
        <result property="price" column="price" />
        <result property="tPrice" column="original_price" />
        <result property="subCount" column="sub_count" />
    </resultMap>

    <select id="selectBookList" parameterType="Book" resultMap="BookListResult">
        select id, title, cover, description, price, original_price, sub_count
        from osh_book
        <where>
            del_flag = '0' and status = '0'
            <if test="title != null and title != ''">
                and title like concat('%', #{title}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
