<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.book.UserBookRelationMapper">

    <select id="selectByUserIdAndBookId" resultType="com.backstage.system.domain.UserBookRelation">
        select id, user_id, book_id, favorited, followed, purchased,
               favorite_time, follow_time, purchase_price, order_no, pay_time,
               create_by, create_time, update_by, update_time, remark, deleted
        from osh_user_book_relation
        where user_id = #{userId} and book_id = #{bookId} and deleted = 0
    </select>

    <select id="selectUserBookList" parameterType="Long" resultType="com.backstage.system.domain.book.BookDO">
        select b.id, b.title, b.cover, b.description
        from osh_user_book_relation ubr
        left join osh_book b on ubr.book_id = b.id
        where ubr.user_id = #{userId} and ubr.purchased = 1 and ubr.deleted = 0 and b.del_flag = '0'
        order by ubr.pay_time desc
    </select>

    <select id="selectUserBookListPage" resultType="com.backstage.system.domain.book.BookDO">
        select b.id, b.title, b.cover, b.description
        from osh_user_book_relation ubr
        left join osh_book b on ubr.book_id = b.id
        where ubr.user_id = #{userId} and ubr.purchased = 1 and ubr.deleted = 0 and b.del_flag = '0'
        order by ubr.pay_time desc
    </select>

</mapper>
