<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.UserBookMapper">

    <sql id="selectUserBookVo">
        select id, user_id, book_id, del_flag, create_by, create_time
        from osh_user_book
    </sql>

    <select id="selectUserBookByUserIdAndBookId" resultType="com.backstage.system.domain.UserBook">
        <include refid="selectUserBookVo"/>
        where user_id = #{userId} and book_id = #{bookId} and del_flag = '0'
    </select>

    <select id="selectUserBookList" parameterType="Long" resultType="com.backstage.system.domain.book.BookDO">
        select b.id, b.title, b.cover, b.description
        from osh_user_book ub
        left join osh_book b on ub.book_id = b.id
        where ub.user_id = #{userId} and ub.del_flag = '0' and b.del_flag = '0'
        order by ub.create_time desc
    </select>

    <select id="selectUserBookListPage" resultType="com.backstage.system.domain.book.BookDO">
        select b.id, b.title, b.cover, b.description
        from osh_user_book ub
        left join osh_book b on ub.book_id = b.id
        where ub.user_id = #{userId} and ub.del_flag = '0' and b.del_flag = '0'
        order by ub.create_time desc
    </select>

</mapper>
