<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.column.ColumnMapper">
    <resultMap id="columnDetail" type="com.backstage.system.domain.vo.ColumnDetailVo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="cover" column="cover"/>
        <result property="colTry" column="col_try"/>
        <result property="content" column="content"/>
        <result property="price" column="price"/>
        <result property="tPrice" column="t_price"/>
        <result property="isEnd" column="is_end"/>
        <result property="subCount" column="sub_count"/>
        <result property="buyFlag" column="buy_flag"/>
        <collection property="columnCourses" resultMap="columnCourse">
        </collection>
    </resultMap>

    <resultMap id="columnCourse" type="com.backstage.system.domain.vo.ColumnCourseVo">
        <id property="id" column="course_id"/>
        <result property="title" column="course_title"/>
        <result property="price" column="course_price"/>
        <result property="type" column="course_type"/>
    </resultMap>

    <resultMap id="columnListItem" type="com.backstage.system.domain.vo.ColumnListItemVo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="cover" column="cover"/>
        <result property="colTry" column="col_try"/>
        <result property="price" column="price"/>
        <result property="tPrice" column="t_price"/>
        <result property="type" column="type"/>
    </resultMap>

    <select id="getColumnDetail" resultMap="columnDetail">
        select
        oc1.id,
        oc1.title,
        oc1.cover as cover,
        oc1.col_try,
        oc1.content,
        oc1.price,
        oc1.t_price,
        oc1.isend as is_end,
        oc1.sub_count,
        oc1.buy_flag ,

        oc2.id as course_id,
        oc2.title as course_title,
        oc2.price as course_price,
        oc2.type as course_type

        from osh_column oc1
        left join osh_column_course occ
        on oc1.id = occ.column_id
        left join osh_course oc2
        on occ.course_id = oc2.id
        where 0=0
        <if test="id != null">
            and oc1.id = #{id}
        </if>
    </select>

    <select id="listColumnPage" resultMap="columnListItem">
        select oc.id,
               oc.title,
               oc.cover,
               oc.col_try,
               oc.price,
               oc.t_price,
               type
        from osh_column oc
        order by oc.id desc
    </select>
</mapper>
