<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.order.OshLearnMapper">
    
    <resultMap type="OshLearn" id="OshLearnResult">
        <result property="id"    column="id"    />
        <result property="schoolId"    column="school_id"    />
        <result property="userId"    column="user_id"    />
        <result property="no"    column="no"    />
        <result property="status"    column="status"    />
        <result property="price"    column="price"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="type"    column="type"    />
        <result property="payMethod"    column="pay_method"    />
        <result property="payTime"    column="pay_time"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="createdTime"    column="created_time"    />
    </resultMap>

    <sql id="selectOshLearnVo">
        select id, school_id, user_id, no, status, price, total_price, type, pay_method, pay_time, updated_time, created_time from osh_learn
    </sql>

    <select id="selectOshLearnList" parameterType="OshLearn" resultMap="OshLearnResult">
        <include refid="selectOshLearnVo"/>
        <where>  
            <if test="schoolId != null "> and school_id = #{schoolId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="no != null  and no != ''"> and no = #{no}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="totalPrice != null  and totalPrice != ''"> and total_price = #{totalPrice}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="payMethod != null  and payMethod != ''"> and pay_method = #{payMethod}</if>
            <if test="payTime != null  and payTime != ''"> and pay_time = #{payTime}</if>
            <if test="updatedTime != null  and updatedTime != ''"> and updated_time = #{updatedTime}</if>
            <if test="createdTime != null  and createdTime != ''"> and created_time = #{createdTime}</if>
        </where>
    </select>
    
    <select id="selectOshLearnById" parameterType="Long" resultMap="OshLearnResult">
        <include refid="selectOshLearnVo"/>
        where id = #{id}
    </select>

    <insert id="insertOshLearn" parameterType="OshLearn" useGeneratedKeys="true" keyProperty="id">
        insert into osh_learn
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schoolId != null">school_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="no != null">no,</if>
            <if test="status != null">status,</if>
            <if test="price != null">price,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="type != null">type,</if>
            <if test="payMethod != null">pay_method,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="createdTime != null">created_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schoolId != null">#{schoolId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="no != null">#{no},</if>
            <if test="status != null">#{status},</if>
            <if test="price != null">#{price},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="type != null">#{type},</if>
            <if test="payMethod != null">#{payMethod},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="createdTime != null">#{createdTime},</if>
         </trim>
    </insert>

    <update id="updateOshLearn" parameterType="OshLearn">
        update osh_learn
        <trim prefix="SET" suffixOverrides=",">
            <if test="schoolId != null">school_id = #{schoolId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="no != null">no = #{no},</if>
            <if test="status != null">status = #{status},</if>
            <if test="price != null">price = #{price},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="type != null">type = #{type},</if>
            <if test="payMethod != null">pay_method = #{payMethod},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOshLearnById" parameterType="Long">
        delete from osh_learn where id = #{id}
    </delete>

    <delete id="deleteOshLearnByIds" parameterType="String">
        delete from osh_learn where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>