<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.order.OshOrderListMapper">
    
    <resultMap type="OshOrderList" id="OshOrderListResult">
        <result property="id"    column="id"    />
        <result property="no"    column="no"    />
        <result property="price"    column="price"    />
        <result property="status"    column="status"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="createdTime"    column="created_time"    />
        <result property="goods"    column="goods"    />
    </resultMap>

    <sql id="selectOshOrderListVo">
        select id, no, price, status, total_price, created_time, goods from osh_order_list
    </sql>

    <select id="selectOshOrderListList" parameterType="OshOrderList" resultMap="OshOrderListResult">
        <include refid="selectOshOrderListVo"/>
        <where>  
            <if test="no != null  and no != ''"> and no = #{no}</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="totalPrice != null  and totalPrice != ''"> and total_price = #{totalPrice}</if>
            <if test="createdTime != null  and createdTime != ''"> and created_time = #{createdTime}</if>
            <if test="goods != null  and goods != ''"> and goods = #{goods}</if>
        </where>
    </select>
    
    <select id="selectOshOrderListById" parameterType="Long" resultMap="OshOrderListResult">
        <include refid="selectOshOrderListVo"/>
        where id = #{id}
    </select>

    <insert id="insertOshOrderList" parameterType="OshOrderList" useGeneratedKeys="true" keyProperty="id">
        insert into osh_order_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="no != null">no,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="goods != null">goods,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="no != null">#{no},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="goods != null">#{goods},</if>
         </trim>
    </insert>

    <update id="updateOshOrderList" parameterType="OshOrderList">
        update osh_order_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="no != null">no = #{no},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="goods != null">goods = #{goods},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOshOrderListById" parameterType="Long">
        delete from osh_order_list where id = #{id}
    </delete>

    <delete id="deleteOshOrderListByIds" parameterType="String">
        delete from osh_order_list where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>