<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.order.OshUploadImageMapper">
    
    <resultMap type="OshUploadImage" id="OshUploadImageResult">
        <result property="id"    column="id"    />
        <result property="schoolId"    column="school_id"    />
        <result property="userId"    column="user_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileSize"    column="file_size"    />
        <result property="fileType"    column="file_type"    />
        <result property="status"    column="status"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectOshUploadImageVo">
        select id, school_id, user_id, file_name, file_path, file_size, file_type, status, created_time, updated_time from osh_upload_image
    </sql>

    <select id="selectOshUploadImageList" parameterType="OshUploadImage" resultMap="OshUploadImageResult">
        <include refid="selectOshUploadImageVo"/>
        <where>  
            <if test="schoolId != null "> and school_id = #{schoolId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectOshUploadImageById" parameterType="Long" resultMap="OshUploadImageResult">
        <include refid="selectOshUploadImageVo"/>
        where id = #{id}
    </select>

    <insert id="insertOshUploadImage" parameterType="OshUploadImage" useGeneratedKeys="true" keyProperty="id">
        insert into osh_upload_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schoolId != null">school_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="fileType != null and fileType != ''">file_type,</if>
            <if test="status != null">status,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schoolId != null">#{schoolId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="fileType != null and fileType != ''">#{fileType},</if>
            <if test="status != null">#{status},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateOshUploadImage" parameterType="OshUploadImage">
        update osh_upload_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="schoolId != null">school_id = #{schoolId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="fileType != null and fileType != ''">file_type = #{fileType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOshUploadImageById" parameterType="Long">
        delete from osh_upload_image where id = #{id}
    </delete>

    <delete id="deleteOshUploadImageByIds" parameterType="String">
        delete from osh_upload_image where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>