<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<<<<<<<< HEAD:backstage-system/src/main/resources/mapper/course/OshCouresMapper.xml
<mapper namespace="com.backstage.system.mapper.course.OshCouresMapper">
    
    <resultMap type="OshCoures" id="OshCouresResult">
========
<mapper namespace="com.backstage.system.mapper.course.OshCourseMapper">
    
    <resultMap type="OshCourse" id="SysCourseResult">
>>>>>>>> refs/heads/release/20260328:backstage-system/src/main/resources/mapper/course/OshCourseMapper.xml
        <result property="id"   column="id"    />
        <result property="title"   column="title"    />
        <result property="cover"   column="cover"    />
        <result property="tryContent"   column="try"    />
        <result property="price"   column="price"    />
        <result property="tPrice"   column="t_price"    />
        <result property="type"   column="type"    />
<!--        <result property="subCount"   column="sub_count"    />-->
<!--        <result property="columnId"   column="column_id"    />-->
<!--        <result property="appid"   column="appid"    />-->
<!--        <result property="isbuy"   column="isbuy"    />-->
<!--        <result property="isfava"   column="isfava"    />-->
<!--        <result property="extField1"   column="ext1"    />-->
<!--        <result property="extField2"   column="ext2"    />-->
<!--        <result property="extField3"   column="ext3"    />-->
<!--        <result property="extField4"   column="ext4"    />-->
<!--        <result property="extField5"   column="ext5"    />-->
<!--        <result property="extField6"   column="ext6"    />-->
<!--        <result property="extField7"   column="ext7"    />-->
<!--        <result property="extField8"   column="ext8"    />-->
        <result property="remark"   column="remark"    />
        <result property="createTime"   column="create_time"    />
        <result property="updateTime"   column="update_time"    />
    </resultMap>

    <sql id="selectCourseVo">
        select id, title, cover, try, price, t_price, type, remark, create_time, update_time from osh_course
    </sql>

    <!-- 查询课程详情 -->
    <select id="selectCourseById" parameterType="Long" resultMap="OshCouresResult">
        <include refid="selectCourseVo"/>
        where id = #{id}
    </select>

    <!-- 根据条件查询课程列表 -->
    <select id="selectCourseList" resultMap="OshCouresResult">
        <include refid="selectCourseVo"/>
        <where>  
            <if test="columnId != null">
                and column_id = #{columnId}
            </if>
        </where>
    </select>

    <!-- 新增课程 -->
<<<<<<<< HEAD:backstage-system/src/main/resources/mapper/course/OshCouresMapper.xml
    <insert id="insertCourse" parameterType="OshCoures" useGeneratedKeys="true" keyProperty="id">
        insert into osh_course
========
    <insert id="insertCourse" parameterType="OshCourse" useGeneratedKeys="true" keyProperty="id">
        insert into sys_course
>>>>>>>> refs/heads/release/20260328:backstage-system/src/main/resources/mapper/course/OshCourseMapper.xml
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="cover != null and cover != ''">cover,</if>
            <if test="tryContent != null">try,</if>
            <if test="price != null">price,</if>
            <if test="tPrice != null">t_price,</if>
            <if test="type != null and type != ''">type,</if>
<!--            <if test="subCount != null">sub_count,</if>-->
<!--            <if test="columnId != null">column_id,</if>-->
<!--            <if test="appid != null and appid != ''">appid,</if>-->
<!--            <if test="isbuy != null">isbuy,</if>-->
<!--            <if test="isfava != null">isfava,</if>-->
<!--            <if test="extField1 != null and extField1 != ''">ext1,</if>-->
<!--            <if test="extField2 != null and extField2 != ''">ext2,</if>-->
<!--            <if test="extField3 != null">ext3,</if>-->
<!--            <if test="extField4 != null">ext4,</if>-->
<!--            <if test="extField5 != null">ext5,</if>-->
<!--            <if test="extField6 != null">ext6,</if>-->
<!--            <if test="extField7 != null">ext7,</if>-->
<!--            <if test="extField8 != null">ext8,</if>-->
            <if test="remark != null and remark != ''">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="cover != null and cover != ''">#{cover},</if>
            <if test="tryContent != null">#{tryContent},</if>
            <if test="price != null">#{price},</if>
            <if test="tPrice != null">#{tPrice},</if>
            <if test="type != null and type != ''">#{type},</if>
<!--            <if test="subCount != null">#{subCount},</if>-->
<!--            <if test="columnId != null">#{columnId},</if>-->
<!--            <if test="appid != null and appid != ''">#{appid},</if>-->
<!--            <if test="isbuy != null">#{isbuy},</if>-->
<!--            <if test="isfava != null">#{isfava},</if>-->
<!--            <if test="extField1 != null and extField1 != ''">#{extField1},</if>-->
<!--            <if test="extField2 != null and extField2 != ''">#{extField2},</if>-->
<!--            <if test="extField3 != null">#{extField3},</if>-->
<!--            <if test="extField4 != null">#{extField4},</if>-->
<!--            <if test="extField5 != null">#{extField5},</if>-->
<!--            <if test="extField6 != null">#{extField6},</if>-->
<!--            <if test="extField7 != null">#{extField7},</if>-->
<!--            <if test="extField8 != null">#{extField8},</if>-->
            <if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <!-- 修改课程 -->
<<<<<<<< HEAD:backstage-system/src/main/resources/mapper/course/OshCouresMapper.xml
    <update id="updateCourse" parameterType="OshCoures">
        update osh_course
========
    <update id="updateCourse" parameterType="OshCourse">
        update sys_course
>>>>>>>> refs/heads/release/20260328:backstage-system/src/main/resources/mapper/course/OshCourseMapper.xml
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="cover != null and cover != ''">cover = #{cover},</if>
            <if test="tryContent != null">try = #{tryContent},</if>
            <if test="price != null">price = #{price},</if>
            <if test="tPrice != null">t_price = #{tPrice},</if>
            <if test="type != null and type != ''">type = #{type},</if>
<!--            <if test="subCount != null">sub_count = #{subCount},</if>-->
<!--            <if test="columnId != null">column_id = #{columnId},</if>-->
<!--            <if test="appid != null and appid != ''">appid = #{appid},</if>-->
<!--            <if test="isbuy != null">isbuy = #{isbuy},</if>-->
<!--            <if test="isfava != null">isfava = #{isfava},</if>-->
<!--            <if test="extField1 != null and extField1 != ''">ext1 = #{extField1},</if>-->
<!--            <if test="extField2 != null and extField2 != ''">ext2 = #{extField2},</if>-->
<!--            <if test="extField3 != null">ext3 = #{extField3},</if>-->
<!--            <if test="extField4 != null">ext4 = #{extField4},</if>-->
<!--            <if test="extField5 != null">ext5 = #{extField5},</if>-->
<!--            <if test="extField6 != null">ext6 = #{extField6},</if>-->
<!--            <if test="extField7 != null">ext7 = #{extField7},</if>-->
<!--            <if test="extField8 != null">ext8 = #{extField8},</if>-->
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 删除课程 -->
    <delete id="deleteCourseById" parameterType="Long">
        delete from osh_course where id = #{id}
    </delete>

    <!-- 批量删除课程 -->
    <delete id="deleteCourseByIds" parameterType="String">
        delete from osh_course where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
