<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.system.mapper.course.OshCourseMapper">

    <resultMap type="OshCourse" id="OshCourseResult">
        <result property="id"   column="id"    />
        <result property="title"   column="title"    />
        <result property="cover"   column="cover"    />
        <result property="tryContent"   column="try"    />
        <result property="price"   column="price"    />
        <result property="tPrice"   column="t_price"    />
        <result property="type"   column="type"    />
        <result property="remark"   column="remark"    />
        <result property="createTime"   column="create_time"    />
        <result property="updateTime"   column="update_time"    />
    </resultMap>

    <sql id="selectCourseVo">
        select id, title, cover, try, price, t_price, type, remark, create_time, update_time from osh_course
    </sql>

    <!-- 查询课程详情 -->
    <select id="selectCourseById" parameterType="Long" resultMap="OshCourseResult">
        <include refid="selectCourseVo"/>
        where id = #{id}
    </select>

    <!-- 根据条件查询课程列表 -->
    <select id="selectCourseList" resultMap="OshCourseResult">
        <include refid="selectCourseVo"/>
        <where>
            <if test="columnId != null">
                and column_id = #{columnId}
            </if>
        </where>
    </select>

    <!-- 新增课程 -->
    <insert id="insertCourse" parameterType="OshCourse" useGeneratedKeys="true" keyProperty="id">
        insert into osh_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="cover != null and cover != ''">cover,</if>
            <if test="tryContent != null">try,</if>
            <if test="price != null">price,</if>
            <if test="tPrice != null">t_price,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="remark != null and remark != ''">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="cover != null and cover != ''">#{cover},</if>
            <if test="tryContent != null">#{tryContent},</if>
            <if test="price != null">#{price},</if>
            <if test="tPrice != null">#{tPrice},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
        </trim>
    </insert>

    <!-- 修改课程 -->
    <update id="updateCourse" parameterType="OshCourse">
        update osh_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="cover != null and cover != ''">cover = #{cover},</if>
            <if test="tryContent != null">try = #{tryContent},</if>
            <if test="price != null">price = #{price},</if>
            <if test="tPrice != null">t_price = #{tPrice},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 删除课程 -->
    <delete id="deleteCourseById" parameterType="Long">
        delete from osh_course where id = #{id}
    </delete>

    <!-- 批量删除课程 -->
    <delete id="deleteCourseByIds" parameterType="String">
        delete from osh_course where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
